<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        .navbar .container-fluid .navbar-header a{margin-left: 100px;}
        .navbar .container-fluid .navbar-collapse .navbar-right li:last-child{margin-right: 100px;}
        .container{margin-left: 120px;margin-right: 120px;padding-top: 70px;}
        .container form .form-group input{width: 75%}
        .container p{margin-top: 50px;}
        .container .span{background-color: lightpink;color: red;}
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">web1704班级说说</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">全部说说<span class="sr-only">(current)</span></a></li>
                <li><a href="#">我的说说</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/regist">注册</a></li>
                <li><a href="/login">登录</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <h2>欢迎登陆:</h2><br>
    <form action="/doLogin">
        <fieldset>
            <div class="form-group">
                <label>用户名</label>
                <input type="text" class="form-control" name="uname" id="uname" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" class="form-control" name="pwd" id="pwd" placeholder="至少六位">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">遵守协议内容
                </label>
            </div>
            <button type="submit" class="btn btn-default" id="regist">登陆</button>
        </fieldset>
    </form>

    <%if(loginNames!=""){%>
    <span class="span"><%=loginNames%></span>
    <%}else{%>
    <span></span>
    <%}%>

    <p class="copy">&copy;2016 Company,Inc.</p>
</div>

</body>
<script type="text/javascript" src="/js/jquery.min.js"></script>

</html>